<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 text-center text-white">
        <p>K-9 Capsule Corporation is a Registered MSP/ISO of Belvaton, Inc. [a wholly owned subsidiary of USA Stakes, Minneapolis, MN]</p>
        <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.usastakes.com" target="_blank">USA Stakes</a></p>
      </div>
      </hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <ul class="list-unstyled list-inline social-links text-center">
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
          <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
