<div class="about-us-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="about-us-banner">
          <img class="about-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Hoch-family-04.jpg/798px-Hoch-family-04.jpg" alt="">
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="about-us">
          <h2 class="about-us-title">About Us</h2>
          <p class="about-us-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at quam egestas, consectetur sapien eleifend, malesuada metus. Donec mollis imperdiet interdum. Aenean lacus turpis, consequat nec purus et, sodales bibendum enim. Sed sit amet ante at sapien elementum scelerisque ut vel erat. In sodales justo ac diam fringilla aliquam a eget magna. Nulla ut diam eu justo congue dictum. Sed eget lacus non ex elementum lobortis laoreet sed mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices dolor ligula, in facilisis risus aliquet ac. Praesent tristique nunc euismod lacinia condimentum. Aliquam euismod sem augue, sed condimentum mi dignissim facilisis. Sed dignissim sodales tellus, vel venenatis mi.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
