<div class="why-us-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="why-us-head">
          <div class="why-us-title">
            <h2>Why choose us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim </p>
            <span class="why-us-title-border"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row  justify-content-center">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="why-us-content">
          <div class="service-3">
            <div class="service-box">
              <div class="clearfix">
                <div class="iconset">
                  <span class="glyphicon glyphicon-cog icon"></span>
                </div>
                <div class="why-us-content">
                  <h4>safety first</h4>
                  <p>Globally incubate standards compliant channels before scalable benefits. Quickly disseminate superior del</p>
                </div>
              </div>
            </div>
            <div class="service-box">
              <div class="clearfix">
                <div class="iconset">
                  <span class="glyphicon glyphicon-cog icon"></span>
                </div>
                <div class="why-us-content">
                  <h4>CLEAN SURFACE</h4>
                  <p>Globally incubate standards compliant channels before scalable benefits. Quickly disseminate superior del</p>
                </div>
              </div>
            </div>
            <div class="service-box">
              <div class="clearfix">
                <div class="iconset">
                  <span class="glyphicon glyphicon-cog icon"></span>
                </div>
                <div class="why-us-content">
                  <h4>PROFESSIONAL</h4>
                  <p>Globally incubate standards compliant channels before scalable benefits. Quickly disseminate superior del</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 align-self-center why-choose-img">
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="why-us-contentbox">
          <div class="service-3">
            <div class="service-box">
              <div class="clearfix">
                <div class="iconset">
                  <span class="glyphicon glyphicon-cog icon"></span>
                </div>
                <div class="why-us-content">
                  <h4>sustainability</h4>
                  <p>Globally incubate standards compliant channels before scalable benefits. Quickly disseminate superior del</p>
                </div>
              </div>
            </div>
            <div class="service-box">
              <div class="clearfix">
                <div class="iconset">
                  <span class="glyphicon glyphicon-cog icon"></span>
                </div>
                <div class="why-us-content">
                  <h4>MODERN PAINTING</h4>
                  <p>Globally incubate standards compliant channels before scalable benefits. Quickly disseminate superior del</p>
                </div>
              </div>
            </div>
            <div class="service-box">
              <div class="clearfix">
                <div class="iconset">
                  <span class="glyphicon glyphicon-cog icon"></span>
                </div>
                <div class="why-us-content">
                  <h4>home decor</h4>
                  <p>Globally incubate standards compliant channels before scalable benefits. Quickly disseminate superior del</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
