<div class="container-fluid">
  <div id="carousel-example-1z" class="intro carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%=  image_tag "training-lead.jpg", alt: "image one", class: 'img-fluid d-block' %>
        <div class="carousel-caption ">
          <h2 class="d-none d-sm-block">Say Good-Bye to stinky pockets!.</h2>
          <p class="text-white lead">K-9 capsules are here </p>
          <a href="#" class="btn btn-primary btn-capsul px-4 py-2">Order Today</a>
        </div>
      </div>
      <div class="carousel-item">
        <%=  image_tag "puppypill-header.jpg", alt: "image one", class: 'img-fluid d-block' %>
        <div class="carousel-caption ">
          <h2 class="d-none d-sm-block">Say Good-Bye to stinky pockets!.</h2>
          <p class="text-white lead">K-9 capsules are here </p>
          <a href="#" class="btn btn-primary btn-capsul px-4 py-2">Order Today</a>
        </div>
      </div>
      <div class="carousel-item">
        <%=  image_tag "silo.jpg", alt: "image one", class: 'img-fluid d-block' %>
        <div class="carousel-caption ">
          <h2 class="d-none d-sm-block">Say Good-Bye to stinky pockets!.</h2>
          <p class="text-white lead">K-9 capsules are here </p>
          <a href="#" class="btn btn-primary btn-capsul px-4 py-2">Order Today</a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
