<section class="info-section bg-primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-sm-8 content-half">
        <div class="head-box text-center">
          <h2 class="text-white">Whats Inside</h2>
          <h6 class="text-white text-underline-rb-white">This is information panel</h6>
        </div>
        <ul class="text-underline-rb-white">
          <li>
            <i class="pill-icons fa fa-laptop" aria-hidden="true"></i>
            <span class="list-content">
              <strong>labore magna</strong>
              <br>Eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
          </li>
          <li>
            <i class="pill-icons fa fa-cloud-upload" aria-hidden="true"></i>
            <span class="list-content">
              <strong>labore magna</strong>
              <br>Eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
          </li>
          <li>
            <i class="pill-icons fa fa-diamond" aria-hidden="true"></i>
            <span class="list-content">
              <strong>labore magna</strong>
              <br>Eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
          </li>
        </ul>
      </div>
      <div class="pill-stink col-md-5">
      </div>
    </div>
  </section>
