 @import "bootstrap";
 @import "jquery-ui";
 @import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700');
 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
 @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


body, html{
 	height: 100%;
 	width:100%;
  background-color: #fff;
 }
body{
 	font-size: 1rem;
 	font-family: 'Source Sans Pro', sans-serif;
 }

/* ========== Universal Stylings ========== */
h1,h2,h3,h4,h5{
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
h6{
	position: relative;
	text-transform: uppercase;
}
.bg-primary{
	background-color: #f9dd90!important;
}
.text-inverse{
	color: #074052;
}
.text-primary{
	color: #f1c539!important;
}

.btn{
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	font-weight: 600;
}
.btn-primary{
	background-color: #f1c539;
	border-color: #f1c539;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4)
}
.btn-primary:hover,.btn-primary:focus{
	background-color: #00BED7;
	border-color: #00BED7;
}
.btn-capsule{
	border-radius: 50px;
}
i.box-circle-outline{
	border-color: inherit;
	border-width: 1px;
	border-style:solid;
	border-radius: 50%;
	height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
i.box-circle-solid{
	background-color:#f1c539;
	border-radius: 50%;
    color: #fff;
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
}
.text-underline-white:before{
	content:"";
	position: absolute;
	width:100px;
	height: 4px;
	left:50%;
	margin-left:-50px;
	background:#fff;
	bottom: -15px;
	border-radius: 10px;
}
.text-underline-rb-white:before{
	content:"";
	position: absolute;
	width:100px;
	height: 4px;
	left:0;
	background:#fff;
	bottom: -15px;
	border-radius: 10px;
}
.text-underline-primary:before{
	content:"";
	position: absolute;
	width:50px;
	height: 4px;
	left:50%;
	margin-left:-25px;
	background:#f1c539;
	bottom: -15px;
	border-radius: 10px;
}
.text-underline-rb-primary:before{
	content:"";
	position: absolute;
	width:100px;
	height: 4px;
	left:0;
	background:#f1c539;
	bottom: -15px;
	border-radius: 10px;
}
.bg-overlay:before{
	content:"";
	background:rgba(0,0,0,0.7);
	position: absolute;
	height: 100%;
	width:100%;
	left:0;
	top:0;
	z-index: -1;
}
.bg-overlay-light:before{
	content:"";
	background:rgba(0,0,0,0.4);
	position: absolute;
	height: 100%;
	width:100%;
	left:0;
	top:0;
	z-index: -1;
}
.parallax{
	background-attachment: fixed!important;
}


/* ========== Navigation ========== */
.top-nav {
    background-color: #f1c539;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.top-nav, .navbar-nav li, .nav-link a {
    color: #fff;
    font-size: 14px;
    padding:15px 15px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-link:hover{
    border-bottom: 1px solid #00BED7;
    color: #00BED7;
    transition: 1.5s ease-in;
	-webkit-transition: 1.5s ease-in;
	-moz-transition: 1.5s ease-in;
}
  .navbar-brand{
	font-size: 28px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.navbar-brand:hover{
  color: #00BED7;
}
.nav-link a {
  text-decoration: none;
  color: white;
  padding: 2vw 1vw;
}

.nav-link a:hover{
	border-bottom: 1px solid #00BED7;
    color: #00BED7;
    transition: 1.5s ease-in;
	-webkit-transition: 1.5s ease-in;
	-moz-transition: 1.5s ease-in;
}


/* ========== Carousel ========== */

.carousel-container{
  padding: 0;
}

.intro{
	width:100%;
	display: flex;
	align-items:center;
	height:100%;
	position: relative;
	z-index: 1;
}

.intro h2{
	font-weight: 700;
}

.intro .carousel-item{
	height: 100%;
}

.carousel-caption a{
  color: white;
  text-decoration: none;
}




/* ========== Why Us ========== */


.why-us-section {
    padding: 82px 0 82px;
}
.why-us-head {
    text-align: center;
    margin: 0 0 91px;
}
.why-us-title h2 {
    color: #000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.why-us-title > p {
    color: #777777;
    line-height: 22px;
}
.why-us-title-border {
    background: #ffae11 none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 3px;
    position: relative;
    width: 50px;
}
.service-3 .service-box {
    margin-bottom: 18px;
}
.service-3 .service-box .iconset {
    float: left;
    text-align: center;
    width: 25%;
}
.service-3 .service-box .iconset i {
    color: #000;
    font-size: 44px;
}
.service-3 .service-box .why-us-content {
    float: left;
    width: 75%;
}
service-3 .service-box .why-us-content h4 {
    color: #3a3a3a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 14px 0 12px;
    text-transform: uppercase;
}
.service-3 .service-box .why-us-content p {
    color: #777777;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
}

.icon {
    color : #f4b841;
    padding:0px;
    font-size:40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}

.why-choose-img {
  height: 30vw;
  background: url('stock-dog.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}









/* ========== The Science ========== */

.info-section{
	width:100%;
	padding:5rem 0;
	position: relative;
	z-index: 1;
}

.info-section h2{
	font-weight: 700;
	font-size: 2.5rem;
}

.content-half{
    color:#fff;
    padding-top: 2vw;
}

.content-half ul{
    padding: 1vw;
    list-style:none;
    padding-left: 6vw;
}

.content-half ul li{
    margin:15px 0;
    float:left;
    width:100%;
}

.content-half ul li i{
    float:left;
    font-size:40px;
    padding-top:10px;
    padding-bottom:10px;
}

.list-content{
    float:left;
    margin-left:2vw;
}

.content-half ul li strong{
    font-size:19px;
    font-weight:700;
}

.content-half ul li:hover{
  color:#00BED7;
}

.pill-icons{
	font-size: 1.5rem;
	margin-bottom: 15px;
}

.pill-stink{
  background: url('pill-stink.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
}


/* ========== About Us ========== */

.about-us-section {
    margin: 8vh 0;
}

.about-us-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding-top: 3vw;
    padding-bottom: 1vw;
    position: relative;
    text-transform: uppercase;
}

.about-us-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}

.about-us-text {
    color: #606060;
    font-size: 1.25rem;
}

.about-image{
  width: 100%;
  border-radius: 100vw;
}












/* ========== Footer========== */
.footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 160px;
  background-color: #f1c539;
}

.footer a {
  color: #ffffff;
}

.social-links li{
	padding-top: 1vw;
}

.social-links li a i {
  margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}

.social-links li:hover a i {
	font-size:30px;
	margin-top:-10px;
}

.footer a:hover{
  color:#00BED7;
  text-decoration: none;
}

.social-links li a{
	color:#ffffff;
}

.footer ul.social-links li a:hover{
	color:#00BED7;
}


/* ========== Order page ========== */

.order-sheet {
  height: 50vh;
  /* border: 1px solid blue; */
  margin: 11vh 0vh;
}

.faqs{
    margin: 11vh 0;
}

.faq-title{
  margin-bottom: 8vw;
}
.faq-title::after {
  background: #fdb801 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 594px;
}

.faq-question {
    // font-size: 30px;
    letter-spacing: 0;
    // line-height: 32px;
    margin: 0 0 39px;
    // padding-top: 3vw;
    padding-bottom: 1vw;
    position: relative;
    // text-transform: uppercase;
}

.faq-question::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
